# NPM should ignore these by default ...
.gitignore
.npmignore

# And these is already in .gitignore but npm isn't picking them up
prototypes/
notes/

# Actual stuff I want to ignore
bin/wach-watchdir
